{% extends 'base.html' %}


{% block body %}
    <div>
        <div>
            <h3 align="center">Car info</h3>
            <p>Car name: {{ car.name }}</p>
            <p>Car manufacture: {{ car.manufacturer }}</p>
            <p>Car model: {{ car.model }}</p>
            <span>
                <a href="{% url 'update_car' pk=car.id %}"
                   class="waves-effect waves-light btn">Edit</a>
                <a href="{% url 'delete_car' pk=car.id %}"
                   class="waves-effect waves-light btn">Delete</a>
            </span>
            <br>
            <br>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li>
                    <a href="#"
                       class="btn-floating green float-button">
                        Добавить заправку
                    </a>
                </li>
            </ul>
        </div>
        {% for item in records %}
            <div class="row">
                <div class="col s12">
                    <div class="card teal lighten-4 z-depth-2">
                        <div class="card-content black-text">
                            <span class="card-title">Заправка</span>
                            <p>Odometer: {{ item.odometer }}</p>
                            <p>Cost: {{ item.cost }}</p>
                            <p>Date: {{ item.date }}</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Редактировать</a>
                            <a href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}

{% block at_start %}
    $('.fixed-action-btn').floatingActionButton(
    {direction: 'left'});
{% endblock at_start %}


{% block style %}
    <style>
        .float-button {
            text-align: center !important;
            color: #000 !important;
            width: 100% !important;
            border-radius: 30px !important;
            margin-right: 20px !important;
        }

        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
            color: #1a7b00;
        }

        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
            color: #880019;
        }
    </style>
{% endblock %}
