{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}

        {% endblock title %}
    </title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">


    {% block style %}
    {% endblock style %}
</head>
<main>
    <body>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>О сайте</h4>
            <p>Сайт сделан с помощью python 3.7 и фреймворка Django 2.1</p>
            <p>В рамках домашнего задания на курсах в <a
                    href="https://www.itechart.by/students-lab/">ITechArt
                StudentsLab Python</a></p>
            <p>
                <span><strong>Автор :</strong> <i>Соколовский Александр</i></span><br>
                <span><strong>Почта :</strong> <i>ninjaduckyduck@gmail.com</i></span><br>
                <span><strong>Телефон :</strong> <i>+375(29)309-92-21</i></span>
            </p>
            <p><strong><i>САЙТ СДЕЛАН В ДОКАЗАТЕЛЬСТВО ТОГО ЧТО Я НЕ ЧАЙНИК
                &#9819;</i></strong></p>
        </div>
        <div class="modal-footer ">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
        </div>
    </div>

    <!-- Dropdown Structure -->
    <ul id="dropdown3" class="dropdown-content dropdown-marging">
        {% for car in cars %}
            <li><a href="#">{{ car.name }}</a></li>
        {% endfor %}
    </ul>

    <nav style="background-color: #009688">
        <div class="nav-wrapper">
            <a href="{% url 'index' %}" class="brand-logo"
               style="margin-left: 20px;">Driver's personal payment history</a></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li>
                    <a href="#">Отчеты</a>
                </li>
                <!-- Dropdown Trigger -->
                <li>
                    <a class="dropdown-trigger" href="#"
                       data-target="dropdown3">
                        Журнал
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li><a class="modal-trigger" href="#modal1">О сайте</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log out({{ user.username }})</a></li>

                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    {% if user.is_authenticated %}
        <a href="{% url 'create_car' %}" class="waves-effect waves-light btn">Add new car</a>
    {% else %}
        <h1>You shall not pass!!!!</h1>
    {% endif %}
    </body>
</main>
</html>

{% block script %}
{% endblock script %}
<script>
    $(document).ready(function (e) {
        $(".dropdown-trigger").dropdown(
            {hover: true}
        );
        $('.modal').modal(
            {
                endingTop: "5%",
                preventScrolling: false
            }
        );

        {% block at_start %}
        {% endblock at_start %}
    });
</script>
