{% extends 'base.html' %}


{% block body %}
    <div class="row">
        {% if login %}
            <h1>Please Sign in</h1>
        {% else %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row " style="">
                        <div class="input-field col s3 offset-s3" style="margin-top: 20px;">
                            <select id="select" name="select">
                                <option value="" disabled selected>Выберете автомобиль
                                </option>
                                {% for car in cars.all %}
                                    <option value="{{ car.id }}">{{ car.name.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col s3">
                            <button type="submit" class="btn"
                                    style="margin-top: 10%">Открыть
                            </button>
                            <a href="{% url 'create_car' %}"
                               style="margin-top: 10%"
                               class="waves-effect waves-light btn">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        {% endif %}
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}

{% block at_start %}
    $('select').formSelect();
{% endblock at_start %}